/* 拠点情報追加モーダルウインドウ */

.label-base-info-new {
  margin-top: 5px;
}

.btn-base-info-new {
  margin: 15px 0;
  width: 30%;
}

/* 拠点情報編集モーダルウインドウ */

.label-base-info-edit {
  margin-top: 5px;
}

.btn-base-info-edit {
  margin: 15px 0;
  width: 30%;
}