<% provide(:title, "拠点一覧") %>
<h1>拠点一覧</h1>
<table class="table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>base_number</th>
      <th>base_name</th>
      <th>attendance_type</th>
    </tr>
  </thead>
  <tbody>
    <% @bases.each do |base| %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
