<% provide(:title, "拠点一覧") %>
<h1>拠点一覧</h1>
<table class="table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <td></td>
      <td></td>
      <td>base_number</td>
      <td>base_name</td>
      <td>attendance_type</td>
    </tr>
  </thead>
  <tbody>
    <% @bases.each do |base| %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>  
  </tbody>
</table>
<div class="btn-base-create">
  <%= link_to "拠点情報追加", new_basis_path, class: "btn btn-primary btn-base-info" %>
</div>
